/* src/components/CartWidget.css */
.cart-widget {
  position: relative; /* Para que el badge se posicione correctamente */
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 40px; /* Ajusta el tamaño del ícono según sea necesario */
  height: auto;
}

.badge {
  position: absolute; /* Posiciona el badge en relación al carrito */
  top: -5px; /* Ajusta según sea necesario */
  right: -10px; /* Ajusta según sea necesario */
  background-color: #f1c40f; /* Color dorado para el badge */
  color: black; /* Color del texto del badge */
  border-radius: 50%;
  padding: 2px 6px; /* Espaciado alrededor del texto */
  font-size: 0.9rem; /* Tamaño de fuente del badge */
  font-weight: bold; /* Hacer el texto del badge más destacado */
}



